$title-block-bg: #cab577;
$img-panel-bg: black;
$page-bg: #dbceb0;
$well-bg: black;
$navbar-bg: #7e4a35;
$navbar-butt-bg: #7e4a35;
$navbar-butt-txt: white;
$text-md: 1.3rem;
$text-lg: 2.2rem;
$text-xl: 3.7rem;

html{ scroll-behavior: smooth;}

body{
  background-color: $page-bg;
}

.navbar{
  background-color: $navbar-bg;
  img{
    border: 3px solid black;
    border-radius: 8px;
  }
  button {
    
    i {
      font-size: 40px;
    }
  }
  #account-area {
    
  }
  .navbar-nav{
    background-color: $navbar-butt-bg;
    @media (min-width: 992px) {
      height:50px
    }
    a{
      align-self:center;
      color: $navbar-butt-txt;
      border: 1px solid $navbar-butt-bg;
      border-radius: 5px;
      //text-align: center;
      min-width: 45px;
    }
    a:hover {
      animation-name: link-color;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
    }
    @keyframes link-color{
      100% {
          color: #ccc;
          border-color: $navbar-butt-txt;
      }
    }
  }
}

#mainBlock {
  margin-top:100px;
  padding-top: 10px;
  background-color: $title-block-bg;
  min-height: 80vh;
  border-radius: 5px;
  
  #title{
    font-size: $text-xl;
    font-family: Times, serif;
    text-align: center;
  }
  #subTitle{
    font-size: $text-lg;
    text-align: center;
  }
  .plainText {
    font-size: $text-md;
  }
}