$title-block-bg: #cab577;
$img-panel-bg: black;
$page-bg: #dbceb0;
$well-bg: black;
$navbar-bg: #7e4a35;
$navbar-butt-bg: #7e4a35;
$navbar-butt-txt: white;
$text-md: 1.3rem;
$text-lg: 2.2rem;
$text-xl: 3.7rem;

html{ scroll-behavior: smooth;}

body{
  background-color: $page-bg;
}

.navbar{
  background-color: $navbar-bg;
  img{
    border: 3px solid black;
    border-radius: 8px;
  }
  #nav-divide{
    width: 1px;
    background-color: white;
    @media (max-width: 991px) {
      width: 100%;
      background-color: $navbar-bg;
    }
  }
  .navbar-nav{
    background-color: $navbar-butt-bg;
    @media (min-width: 992px) {
      height:50px
    }
    a{
      align-self:center;
      color: $navbar-butt-txt;
      border: 1px solid $navbar-butt-bg;
      border-radius: 5px;
      text-align: center;
      min-width: 45px;
    }
    a:hover {
      animation-name: link-color;
      animation-duration: 500ms;
      animation-fill-mode: forwards;
    }
    @keyframes link-color{
      100% {
          color: #ccc;
          border-color: $navbar-butt-txt;
      }
    }
  }
}

#titleBlock {
  margin-top:100px;
  padding-top: 10px;
  background-color: $title-block-bg;
  #title-left{
    width:100%;height:100%;
    align-self: center;
  }
  figcaption{
    font-size: $text-md;
  }
  #subTitle{
    font-size: $text-md;
  }
}