<!DOCTYPE html>
<html>

<head>
  <title>Tributes Inc.</title>
  <meta name="description" content="KPWorthi personal project, Tributes Inc. - Landing Page" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="../styles/index.css" type="text/css" />
</head>

<body id="body">

</body>
<script src="../scripts/react.production.min.js" type="module"></script>
<script src="../scripts/react-dom.production.min.js" type="module"></script>
<script src="../scripts/index.mjs" type="module"></script>

</html>