<!DOCTYPE html>
<html>

<head>
  <title>Tributes Inc.</title>
  <meta name="description" content="KPWorthi personal project, Tributes Inc. - Landing Page" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../styles/bootstrap-grid.min.css" type="text/css" />
  <link rel="stylesheet" href="../styles/index.css" type="text/css" />
</head>

<body id="body">

  <header id="header" class="">
    <nav class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="#"><img src="https://i.postimg.cc/4y2k0W3g/test-logo.png" class=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"
        aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">[O]</span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-links">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link mx-3"> Home</a>
          <a href="#" class="nav-item nav-link mx-3"> Tributes A-Z</a>
          <a href="https://codepen.io/kpWorthi/full/jOWwPee" class="nav-item nav-link mx-3"> Products</a>
        </div>
        <div id="nav-divide" class="navbar-nav mx-2">
          <div class="dropdown-divider"></div>
        </div>
        <div class="navbar-nav justify-content-right">
          <a href="#" class="nav-item nav-link mx-3"> Retiana Elliott</a>
          <a href="#img-caption" class="nav-item nav-link mx-3"> Life</a>
          <a href="#read-more-info" class="nav-item nav-link mx-3"> Read More</a>
        </div>
      </div>
    </nav>
  </header>

  <main id="main" class="">

    <div id="titleBlock" class="row mx-3 mb-4">
      Content goes here!
    </div>

  </main>

  <footer id="footer" class="mx-5 small">
    <p>The information listed on this page is drawn from and inspired by existing works. Any characters, locations,
      etc., described or listed are the property of their copyright holder and no claim of ownership is expressed or
      implied.<br>Site layout and assets ©Tributes Inc. 2020 </p>
  </footer>

  <script src="../scripts/jquery-3.5.1.min.js"></script>
  <script src="../scripts/index.js"></script>
</body>

</html>