<body id="body">

  <header id="header" class="">
    <nav class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="#"><img src="https://i.postimg.cc/4y2k0W3g/test-logo.png" class=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">[O]</span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-links">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link mx-3"> Home</a>
          <a href="#" class="nav-item nav-link mx-3"> Tributes A-Z</a>
          <a href="https://codepen.io/kpWorthi/full/jOWwPee" class="nav-item nav-link mx-3"> Products</a>
        </div>
        <div id="nav-divide" class="navbar-nav mx-2">
        <div class="dropdown-divider"></div></div>
        <div class="navbar-nav justify-content-right">
          <a href="#" class="nav-item nav-link mx-3"> Retiana Elliott</a>
          <a href="#img-caption" class="nav-item nav-link mx-3"> Life</a>
          <a href="#read-more-info" class="nav-item nav-link mx-3"> Read More</a>
        </div>
      </div>
    </nav>
  </header>

  <main id="main" class="">

    <div id="titleBlock" class="row mx-3 mb-4">
      <div id="title-left" class="col-lg-6">
        <h1 id="title" class="text-center"><strong>Retiana Elliott</strong><br><small class="text-muted font-italic">A fictional sub-title for a fictional personage.</small></h1>
      </div>
      <div id="img-div" class="col-lg-6 text-center">
        <img src="https://i.postimg.cc/PxmBKCTH/test-house-resize.jpg" id="image" alt="Photo of Retiana's Childhood Home" class="img-fluid rounded">
        <!--https://postimg.cc/62pjp58b-->
        <figcaption id="img-caption" class="">Retiana's humble beginnings.</figcaption>
      </div>
    </div>

    <div id="info-block" class="mx-3">
      <p id="tribute-info" class="lead"> <strong>Retiana Elliott</strong> actually started out as quite the scoundrel. You wouldn't believe the shenanigans that occurred. You certainly won't read about them, or the life events that brought about her saint-hood, here though.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis tempus massa. Aenean erat nisl, gravida vel vestibulum cursus, interdum sit amet lectus. Sed sit amet quam nibh. Suspendisse quis tincidunt nulla. In hac habitasse platea dictumst. Ut sit amet pretium nisl. Vivamus vel mi sem. Aenean sit amet consectetur sem. Suspendisse pretium, purus et gravida consequat, nunc ligula ultricies diam, at aliquet velit libero a dui.</p>
      <p>Aenean erat nisl, gravida vel vestibulum cursus, interdum sit amet lectus. Sed sit amet quam nibh. Suspendisse quis tincidunt nulla. In hac habitasse platea dictumst. Ut sit amet pretium nisl. Vivamus vel mi sem. Aenean sit amet consectetur sem. Suspendisse pretium, purus et gravida consequat, nunc ligula ultricies diam, at aliquet velit libero a dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis tempus massa. </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis tempus massa. Aenean erat nisl, gravida vel vestibulum cursus, interdum sit amet lectus. Sed sit amet quam nibh. Suspendisse quis tincidunt nulla. In hac habitasse platea dictumst. Ut sit amet pretium nisl. Vivamus vel mi sem. Aenean sit amet consectetur sem. Suspendisse pretium, purus et gravida consequat, nunc ligula ultricies diam, at aliquet velit libero a dui.</p>
      <p id="read-more-info" class="text-center">To find out more about Retiana and her exploits, find her in the <a href="#" target="_blank" id="tribute-link">Encyclopedia Eorzea</a>.</p>
    </div>

  </main>

  <footer id="footer" class="mx-5 small">
    <p>The information listed on this page is drawn from and inspired by existing works. Any characters, locations, etc., described or listed are the property of their copyright holder and no claim of ownership is expressed or implied.<br>Site layout and assets ©Tributes Inc. 2020 </p>
  </footer>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>